<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610941004705-sa6j3l6acdl11h2bv2vbo8bqc2skkbur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610941004705-sa6j3l6acdl11h2bv2vbo8bqc2skkbur</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>610941004705-mtj0h3153cat4mjd8cgtlcb8ek1qkatt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAk96F7Rzri3XFP9dVBuSKABBiC5XbFP-k</string>
	<key>GCM_SENDER_ID</key>
	<string>610941004705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stetig.krc</string>
	<key>PROJECT_ID</key>
	<string>krc-homes</string>
	<key>STORAGE_BUCKET</key>
	<string>krc-homes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610941004705:ios:1bfb992eca8415069739e0</string>
</dict>
</plist>